apaga-caixa-padrão-IUci95G039SAXDQC.json
{"createdAt":"2025-02-26T16:16:23.343Z","updatedAt":"2025-02-26T16:21:00.008Z","id":"IUci95G039SAXDQC","name":"Apaga Caixa Padrão","active":true,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"channel_api","mode":"list","cachedResultName":"channel_api"},"firesOn":"DELETE","additionalFields":{},"options":{}},"id":"d3d3cd63-c462-4ccc-b71d-c9bd11bef576","name":"Postgres Trigger","type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[240,-180],"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"75620144-49ea-46bc-aeff-e51134d2b053","name":"caixa","value":"={{ $('Postgres Trigger').item.json.payload.webhook_url.split('/').pop() }}","type":"string"}]},"options":{}},"id":"3e10fd76-dfe5-4da3-83f1-707c3ce8375a","name":"Pega o nome da Sessão","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-180]},{"parameters":{"method":"=DELETE","url":"={{ $('Info Base').item.json.urlapi }}/instance/logout/{{ $json.caixa }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json.apikey }}"}]},"options":{}},"id":"da91c91c-223a-458b-9a94-4c6caa127603","name":"Desconecta Estancia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,-180]},{"parameters":{"method":"=DELETE","url":"={{ $('Info Base').item.json.urlapi }}/instance/delete/{{ $('Pega o nome da Sessão').item.json.caixa }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json.apikey }}"}]},"options":{}},"id":"bdb8cec8-059b-42bb-8f86-54c307354f16","name":"Delta Estancia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,-180]},{"parameters":{"assignments":{"assignments":[{"id":"98f9267a-8e6e-4dcb-8908-5c1570bcb0ec","name":"urlapi","value":"https://api.supersdr.com","type":"string"},{"id":"66304908-724e-4a3f-a68f-4cb1aea2151b","name":"apikey","value":"90790eb4232880273a362d3628ca864f","type":"string"}]},"options":{}},"id":"b16f7e64-218a-4048-925a-bd20652782da","name":"Info Base","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,-180]}],"connections":{"Postgres Trigger":{"main":[[{"node":"Info Base","type":"main","index":0}]]},"Pega o nome da Sessão":{"main":[[{"node":"Desconecta Estancia","type":"main","index":0}]]},"Desconecta Estancia":{"main":[[{"node":"Delta Estancia","type":"main","index":0}]]},"Info Base":{"main":[[{"node":"Pega o nome da Sessão","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7012b2c6-8152-49cd-9698-c1954c976b1d","triggerCount":1,"tags":[]}