backupautomatico-r1KnmsDpnFQFOXbF.json
{"createdAt":"2025-02-27T19:13:00.503Z","updatedAt":"2025-02-27T20:04:29.133Z","id":"r1KnmsDpnFQFOXbF","name":"backupAutomatico","active":true,"nodes":[{"parameters":{"options":{}},"id":"64f26aab-416c-4cd2-81ea-6a728be8852c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-660,200]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"be01b56e-43de-454e-bba3-77e02af8af81","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-460,200]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"9be6cafa-af0e-4a78-9762-1ab151e5ddb5","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-260,200]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"caduce3","mode":"list","cachedResultName":"caduce3","cachedResultUrl":"https://github.com/caduce3"},"repository":{"__rl":true,"value":"pizzaria","mode":"list","cachedResultName":"pizzaria","cachedResultUrl":"https://github.com/caduce3/pizzaria"},"filePath":"="},"id":"cb39abb5-acc3-4006-b04b-5dce78dbee93","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-60,200],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"zrVAsODPrHi17YUb","name":"GitHub account cadu"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"e717b9ac-86d1-4d36-995d-a7a7b2d23fd4","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[140,200]},{"parameters":{"filters":{},"requestOptions":{}},"id":"779b0a1e-52cb-4c17-9888-c491e1629583","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[340,200],"credentials":{"n8nApi":{"id":"yLetp8dJtSCRxNaa","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"9696bce5-da52-405a-bd89-b7afe2a11cad","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[540,200]},{"parameters":{"batchSize":1,"options":{}},"id":"7a8f7ee6-63f2-4cba-a625-34c6b4ae8e6a","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[780,200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"7d209ed1-3a5f-47fe-9819-17a9a765bd6e","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1020,120]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"caduce3","mode":"list","cachedResultName":"caduce3","cachedResultUrl":"https://github.com/caduce3"},"repository":{"__rl":true,"value":"pizzaria","mode":"list","cachedResultName":"pizzaria","cachedResultUrl":"https://github.com/caduce3/pizzaria"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"7d7068b2-86c8-4759-a631-069e808108c5","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1240,-100],"credentials":{"githubOAuth2Api":{"id":"zrVAsODPrHi17YUb","name":"GitHub account cadu"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"caduce3","mode":"list","cachedResultName":"caduce3","cachedResultUrl":"https://github.com/caduce3"},"repository":{"__rl":true,"value":"pizzaria","mode":"list","cachedResultName":"pizzaria","cachedResultUrl":"https://github.com/caduce3/pizzaria"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"843e00b2-8669-4881-9c0b-05ef1a9d0cef","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1240,320],"credentials":{"githubOAuth2Api":{"id":"zrVAsODPrHi17YUb","name":"GitHub account cadu"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-860,200],"id":"2a130f5d-e290-4466-9664-5f34ab69e37d","name":"Schedule Trigger"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9513348-6311-4a40-9d5c-e9bb70f55797","triggerCount":1,"tags":[]}