criador-de-empresa-54XHMYH92Rx3Lxlm.json
{"createdAt":"2025-02-26T15:37:35.516Z","updatedAt":"2025-02-26T16:12:04.384Z","id":"54XHMYH92Rx3Lxlm","name":"Criador de Empresa","active":true,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/platform/api/v1/accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Info Base1').item.json[\"api_access_token\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.NomeEmpresa }}"},{"name":"locale","value":"pt_BR"}]},"options":{}},"id":"579becaa-5079-45dc-b13f-a1584920bab1","name":"Cria Conta1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[540,0]},{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/platform/api/v1/users","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Info Base1').item.json[\"api_access_token\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Info Base1').item.json.nomeAdministrador }}"},{"name":"email","value":"={{ $('Info Base1').item.json[\"email\"] }}"},{"name":"password","value":"={{ $('Info Base1').item.json[\"password\"] }}"}]},"options":{}},"id":"dd0396ab-b1e3-4aaf-8344-38307fd76133","name":"Cria Usuario1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,0]},{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/platform/api/v1/accounts/{{ $node[\"Cria Conta1\"].json[\"id\"] }}/account_users","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Info Base1').item.json[\"api_access_token\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"user_id","value":"={{ $node[\"Cria Usuario1\"].json[\"id\"] }}"},{"name":"role","value":"administrator"}]},"options":{}},"id":"0c66348d-6a9c-48dd-9626-244c03cf0b3f","name":"Add Usuario a Conta1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[900,0]},{"parameters":{"fromEmail":"contato@olhaozap.ai","toEmail":"={{ $('LimpaDados1').item.json.email }}","subject":"Bem vindo ao Super SDR","text":"=Olá, seja bem-vindo(a)!\n\nAbaixo segue seus dados de acesso iniciais ao Super SDR:\n\nURL: {{ $('Info Base1').item.json[\"UrlChatwoot\"] }}\n\nLogin: {{ $('LimpaDados1').item.json[\"email\"] }}\n\nSenha: {{ $('LimpaDados1').item.json[\"senha\"] }}\n\n\nEm caso de dúvida, entre em contato conosco pelo WhatsApp: (11)91773-5588","options":{}},"id":"def2357d-df54-4785-8c16-e5d2a853c0bc","name":"Send Email1","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1260,200],"webhookId":"a156b47e-7532-456e-aae4-7550be411633","credentials":{"smtp":{"id":"jBL9fGM1J6R8HNqf","name":"SMTP account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"UrlChatwoot","value":"https://chat.supersdr.com"},{"name":"api_access_token","value":"TMubDQ6fD7MfqPsDSXkVfz5H"},{"name":"UrlEvolution","value":"https://api.supersdr.com"},{"name":"apievolution","value":"90790eb4232880273a362d3628ca864f"},{"name":"nome","value":"={{ $json.NomeEmpresa }}"},{"name":"email","value":"={{ $json.email }}"},{"name":"password","value":"={{ $json.senha }}"},{"name":"NomeEmpresa","value":"={{ $json.NomeEmpresa }}"},{"name":"UrlStatusAPI","value":"https://autowebhook.supersdr.com/webhook/statusapi"}]},"options":{}},"id":"fb9e3941-8c43-40ea-ab7c-3e1f8ebc72d3","name":"Info Base1","type":"n8n-nodes-base.set","typeVersion":2,"position":[360,0]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"nomeAdministrador","value":"={{$node[\"Webhook1\"].json[\"body\"][\"messages\"][0][\"content\"].match(/Nome Usuario Administrador: ([^\\s]+)/)[1];}}"},{"name":"NomeEmpresa","value":"={{$node[\"Webhook1\"].json[\"body\"][\"messages\"][0][\"content\"].match(/Nome da Empresa: ([^\\s]+)/)[1];}}"},{"name":"email","value":"={{$node[\"Webhook1\"].json[\"body\"][\"messages\"][0][\"content\"].match(/Email: ([^\\s]+)/)[1];}}"},{"name":"senha","value":"={{$node[\"Webhook1\"].json[\"body\"][\"messages\"][0][\"content\"].match(/Senha: ([^\\s]+)/)[1];}}"}]},"options":{}},"id":"7144dcd9-2ffa-4aad-9fdf-441398b13f87","name":"LimpaDados1","type":"n8n-nodes-base.set","typeVersion":2,"position":[180,0]},{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/api/v1/accounts/{{ $('Cria Conta1').item.json[\"id\"] }}/automation_rules","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Cria Usuario1').item.json[\"access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"ComandosAPI-(Não-Desativar)\",\n  \"description\": \"Não-Desativar\",\n  \"event_name\": \"message_created\",\n  \"active\": true,\n  \"conditions\": [\n    {\n      \"attribute_key\": \"phone_number\",\n      \"filter_operator\": \"equal_to\",\n      \"values\": [\n        \"+123456\"\n      ],\n      \"query_operator\": \"and\",\n      \"custom_attribute_type\": \"\"\n    },\n    {\n      \"attribute_key\": \"content\",\n      \"filter_operator\": \"contains\",\n      \"values\": [\n        \"#\"\n      ],\n      \"custom_attribute_type\": \"\"\n    }\n  ],\n  \"actions\": [\n    {\n      \"action_name\": \"send_webhook_event\",\n      \"action_params\": [\n        \"{{ $('Info Base1').item.json[\"UrlStatusAPI\"] }}\"\n      ]\n    }\n  ]\n}\n","options":{}},"id":"5deb63a0-f789-4bf6-bfe5-95234b340c76","name":"Adiciona Automação Status API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1100,0]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"notes","mode":"list","cachedResultName":"notes"},"columns":{"mappingMode":"defineBelow","value":{"content":"Lista de Comandos API:   \n   \nExecuta o comando no contato Gerador de QR, abra um ticket novo na Caixa que deseja executar as ações:\n\n#reiniciar\n\n#deslogar\n\n----------------------------------\n\nModelo para criar uma nova caixa:\n\n#Criador de Caixa:\nNome da caixa: Nome-da-Caixa\nImportar contatos: true\nImportar mensagens: true\nDias de importação: 30","account_id":"={{ $('Cria Conta1').item.json[\"id\"] }}","contact_id":"={{ $('Busca Contato Gerador de QR').item.json[\"payload\"][0][\"id\"] }}","user_id":"={{ $('Cria Usuario1').item.json[\"id\"] }}","created_at":"={{ $now }}","updated_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"content","displayName":"content","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"account_id","displayName":"account_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"contact_id","displayName":"contact_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}]},"options":{}},"id":"161a2441-40f3-4e46-87b0-566372887055","name":"Adiciona Lista Comandos","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[720,200],"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"jsCode":"const length = 25;  // Você pode ajustar isso conforme necessário\nconst charset = \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\";\nlet result = \"\";\n\nfor (let i = 0; i < length; i++) {\n    result += charset.charAt(Math.floor(Math.random() * charset.length));\n}\n\nreturn [\n    {\n        json: {\n            idsessao: result\n        }\n    }\n];\n"},"id":"91642315-a492-413b-ace6-ae9a0174dc37","name":"Gerador de ID Sessão","type":"n8n-nodes-base.code","typeVersion":1,"position":[0,200]},{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json[\"UrlEvolution\"] }}/instance/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base1').item.json[\"apievolution\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"instanceName\": \"{{ $('Gerador de ID Sessão').item.json[\"idsessao\"] }}_Whatsapp_IdCW_{{ $('Cria Conta1').item.json[\"id\"] }}\",\n    \"token\": \"\",\n    \"qrcode\": true,\n    \"integration\": \"WHATSAPP-BAILEYS\",\n    \"rejectCall\": true,\n    \"msgCall\": \"Infelizmente não aceitamos ligações\",\n    \"groupsIgnore\": false,\n    \"alwaysOnline\": false,\n    \"readMessages\": true,\n    \"readStatus\": true,\n    \"syncFullHistory\": false,\n    \"chatwootAccountId\": \"{{ $('Cria Conta1').item.json[\"id\"] }}\",\n    \"chatwootToken\": \"{{ $('Cria Usuario1').item.json[\"access_token\"] }}\",\n    \"chatwootUrl\": \"{{ $('Info Base1').item.json[\"UrlChatwoot\"] }}\",\n    \"chatwootSignMsg\": true,\n    \"chatwootReopenConversation\": false,\n    \"chatwootConversationPending\": false,\n    \"chatwootImportContacts\": true,\n    \"chatwootNameInbox\": \"WhatsApp\",\n    \"chatwootMergeBrazilContacts\": true,\n    \"chatwootImportMessages\": true,\n    \"chatwootDaysLimitImportMessages\": 30,\n    \"chatwootOrganization\": \"Gerador de QR\",\n    \"chatwootLogo\": \"https://astraonline.com.br/wp-content/uploads/2024/08/qr.png\"\n}","options":{}},"id":"c8cc9bdd-4f8c-4d11-a4af-75cd2f52587a","name":"Cria API Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,200]},{"parameters":{"url":"={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/api/v1/accounts/{{ $node[\"Cria Conta1\"].json[\"id\"] }}/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"+123456"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Cria Usuario1').item.json[\"access_token\"] }}"}]},"options":{}},"id":"21660993-b3cd-4409-ae6e-9785d75e0230","name":"Busca Contato Gerador de QR","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[540,200]},{"parameters":{"amount":5,"unit":"seconds"},"id":"2aeb0e51-2919-41a0-89b3-e48fc79efc0b","name":"5s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[360,200],"webhookId":"a3b7a964-c13a-4b08-8a0d-bea313f43fac"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"access_tokens","mode":"list","cachedResultName":"access_tokens"},"returnAll":true,"where":{"values":[{"column":"owner_id","value":"={{ $('Webhook1').item.json[\"body\"][\"messages\"][0][\"sender\"][\"id\"] }}"},{"column":"owner_type","value":"User"}]},"options":{}},"id":"e0c21123-aa71-4c02-b126-72c108b6cc2c","name":"Pega Token Usuario","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[900,200],"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/api/v1/accounts/{{ $('Webhook1').item.json[\"body\"][\"messages\"][0][\"account_id\"] }}/conversations/{{ $('Webhook1').item.json[\"body\"][\"messages\"][0][\"conversation_id\"] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Pega Token Usuario').item.json[\"token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"content\": \"✅Empresa Criada✅\\nEmpresa criada com sucesso\",\n\"message_type\": \"outgoing\",\n\"private\": true\n}","options":{}},"id":"8f7451e2-ac2e-4bd4-bff3-423ad0fe77c7","name":"Notifica a Criação","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1080,200],"executeOnce":true},{"parameters":{"httpMethod":"POST","path":"criarempresaplus","options":{}},"id":"bae234f0-3866-4874-b76a-c9d6e2118a37","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"webhookId":"6fe428e3-1752-453c-9358-abf18b793387"}],"connections":{"Cria Conta1":{"main":[[{"node":"Cria Usuario1","type":"main","index":0}]]},"Cria Usuario1":{"main":[[{"node":"Add Usuario a Conta1","type":"main","index":0}]]},"Add Usuario a Conta1":{"main":[[{"node":"Adiciona Automação Status API","type":"main","index":0}]]},"Info Base1":{"main":[[{"node":"Cria Conta1","type":"main","index":0}]]},"LimpaDados1":{"main":[[{"node":"Info Base1","type":"main","index":0}]]},"Adiciona Automação Status API":{"main":[[{"node":"Gerador de ID Sessão","type":"main","index":0}]]},"Adiciona Lista Comandos":{"main":[[{"node":"Pega Token Usuario","type":"main","index":0}]]},"Gerador de ID Sessão":{"main":[[{"node":"Cria API Whatsapp","type":"main","index":0}]]},"Cria API Whatsapp":{"main":[[{"node":"5s","type":"main","index":0}]]},"Busca Contato Gerador de QR":{"main":[[{"node":"Adiciona Lista Comandos","type":"main","index":0}]]},"5s":{"main":[[{"node":"Busca Contato Gerador de QR","type":"main","index":0}]]},"Pega Token Usuario":{"main":[[{"node":"Notifica a Criação","type":"main","index":0}]]},"Notifica a Criação":{"main":[[{"node":"Send Email1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"LimpaDados1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0649e70-4615-4ec2-a554-d1d99e927900","triggerCount":1,"tags":[]}