criador-de-caixa-padrão-N5ACQ2FheDk2psEe.json
{"createdAt":"2025-02-26T16:15:26.430Z","updatedAt":"2025-02-26T16:15:34.182Z","id":"N5ACQ2FheDk2psEe","name":"Criador de Caixa Padrão","active":true,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"channel_api","mode":"list","cachedResultName":"channel_api"},"additionalFields":{},"options":{}},"id":"5efde17d-76d2-43a8-a4ab-614e8c608f39","name":"Postgres Trigger","type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[240,-180],"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"access_tokens","mode":"list","cachedResultName":"access_tokens"},"returnAll":true,"where":{"values":[{"column":"owner_id","value":"={{ $('Puxa Usuarios').item.json[\"user_id\"] }}"}]},"options":{}},"id":"8404213e-7541-407b-a27f-e8e7fb0ffee6","name":"Pega Token Usuario","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[600,-180],"executeOnce":true,"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"jsCode":"const length = 25;  // Você pode ajustar isso conforme necessário\nconst charset = \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\";\nlet result = \"\";\n\nfor (let i = 0; i < length; i++) {\n    result += charset.charAt(Math.floor(Math.random() * charset.length));\n}\n\nreturn [\n    {\n        json: {\n            idsessao: result\n        }\n    }\n];\n"},"id":"3db59b22-30de-4037-a0b2-9e7fe720884a","name":"Gerador de ID Sessão","type":"n8n-nodes-base.code","typeVersion":1,"position":[960,-180]},{"parameters":{"method":"POST","url":"=https://api.supersdr.com/instance/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=90790eb4232880273a362d3628ca864f"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"instanceName\": \"{{ $('Gerador de ID Sessão').item.json[\"idsessao\"] }}_Whatsapp_IdCW_{{ $('Postgres Trigger').item.json[\"payload\"][\"account_id\"] }}\",\n    \"token\": \"\",\n    \"qrcode\": true,\n    \"integration\": \"WHATSAPP-BAILEYS\",\n    \"rejectCall\": true,\n    \"msgCall\": \"Infelizmente não aceitamos ligações\",\n    \"groupsIgnore\": false,\n    \"alwaysOnline\": false,\n    \"readMessages\": true,\n    \"readStatus\": true,\n    \"syncFullHistory\": false,\n    \"chatwootAccountId\": \"{{ $('Postgres Trigger').item.json[\"payload\"][\"account_id\"] }}\",\n    \"chatwootToken\": \"{{ $('Pega Token Usuario').item.json[\"token\"] }}\",\n    \"chatwootUrl\": \"https://chat.supersdr.com\",\n    \"chatwootSignMsg\": true,\n    \"chatwootReopenConversation\": false,\n    \"chatwootConversationPending\": false,\n    \"chatwootImportContacts\": true,\n    \"chatwootNameInbox\": \"{{ $('Pega Nome da Caixa').item.json[\"name\"] }}\",\n    \"chatwootMergeBrazilContacts\": true,\n    \"chatwootImportMessages\": true,\n    \"chatwootDaysLimitImportMessages\": 30,\n    \"chatwootOrganization\": \"Gerador de QR\",\n    \"chatwootLogo\": \"https://astraonline.com.br/wp-content/uploads/2024/08/qr.png\"\n}","options":{}},"id":"8c118196-91f9-4ff6-922a-32f9c0cf78d9","name":"Cria API Whatsapp1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,-180]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"account_users","mode":"list","cachedResultName":"account_users"},"returnAll":true,"where":{"values":[{"column":"account_id","value":"={{ $json.payload.account_id }}"},{"column":"role","value":"1"}]},"options":{}},"id":"ea7bb74f-5500-4907-88f0-0dc7314ee3b2","name":"Puxa Usuarios","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[420,-180],"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"inboxes","mode":"list","cachedResultName":"inboxes"},"returnAll":true,"where":{"values":[{"column":"account_id","value":"={{ $('Postgres Trigger').item.json[\"payload\"][\"account_id\"] }}"},{"column":"channel_id","value":"={{ $('Postgres Trigger').item.json.payload.id }}"}]},"options":{}},"id":"0d1eca51-5fe6-44c1-ad3d-b79f02b50f40","name":"Pega Nome da Caixa","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[780,-180],"executeOnce":true,"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"channel_api","mode":"list","cachedResultName":"channel_api"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Postgres Trigger').item.json[\"payload\"][\"id\"] }}","account_id":"={{ $('Postgres Trigger').item.json[\"payload\"][\"account_id\"] }}","webhook_url":"={{ $('Cria API Whatsapp1').item.json[\"chatwoot\"][\"webhookUrl\"] }}","created_at":"={{ $now }}","updated_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"account_id","displayName":"account_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"webhook_url","displayName":"webhook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"identifier","displayName":"identifier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hmac_token","displayName":"hmac_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hmac_mandatory","displayName":"hmac_mandatory","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"additional_attributes","displayName":"additional_attributes","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"ec27faec-b390-434e-87ba-6ff6bf655fed","name":"Pega Nome da Caixa1","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1340,-180],"executeOnce":true,"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}}],"connections":{"Postgres Trigger":{"main":[[{"node":"Puxa Usuarios","type":"main","index":0}]]},"Gerador de ID Sessão":{"main":[[{"node":"Cria API Whatsapp1","type":"main","index":0}]]},"Pega Token Usuario":{"main":[[{"node":"Pega Nome da Caixa","type":"main","index":0}]]},"Puxa Usuarios":{"main":[[{"node":"Pega Token Usuario","type":"main","index":0}]]},"Pega Nome da Caixa":{"main":[[{"node":"Gerador de ID Sessão","type":"main","index":0}]]},"Cria API Whatsapp1":{"main":[[{"node":"Pega Nome da Caixa1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"80ac81c5-92d7-4d90-a4f6-d3d084222838","triggerCount":1,"tags":[]}