manager-evolution-GZ5COgsSohcpdMUo.json
{"createdAt":"2025-02-26T15:34:36.543Z","updatedAt":"2025-02-26T15:47:51.615Z","id":"GZ5COgsSohcpdMUo","name":"Manager Evolution","active":true,"nodes":[{"parameters":{},"id":"d4519568-1d64-491b-b7d3-aae32dc52e40","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[540,220],"webhookId":"c12fc51b-fcbc-41b7-a3d5-ff0187ec36db"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"nomeCaixa","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Nome da caixa: ([^\\s]+)/)[1]; }}"},{"name":"importarContatos","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Importar contatos: ([^\\s]+)/)[1]; }}"},{"name":"importarMensagens","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Importar mensagens: ([^\\s]+)/)[1]; }}"},{"name":"diasDeImportacao","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"content\"].match(/Dias de importação: ([^\\s]+)/)[1]; }}"}]},"options":{}},"id":"42ca1d9c-9a5d-45dd-af9d-593d4216c124","name":"LimpaDados1","type":"n8n-nodes-base.set","typeVersion":2,"position":[600,420]},{"parameters":{"jsCode":"const length = 25;  // Você pode ajustar isso conforme necessário\nconst charset = \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\";\nlet result = \"\";\n\nfor (let i = 0; i < length; i++) {\n    result += charset.charAt(Math.floor(Math.random() * charset.length));\n}\n\nreturn [\n    {\n        json: {\n            idsessao: result\n        }\n    }\n];\n"},"id":"eda33db5-4f83-4b0e-8c21-e18b9ee86409","name":"Gerador de ID Sessão","type":"n8n-nodes-base.code","typeVersion":1,"position":[1400,400]},{"parameters":{"url":"={{ $('Info Base').item.json[\"UrlAPI\"] }}/instance/fetchInstances","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"ApiKey\"] }}"}]},"options":{}},"id":"526dced8-5318-4230-9385-a7b203977753","name":"Busca As Sessões1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b1126bd3-46c6-4348-b54d-369d4421c77f","leftValue":"={{ $('Extrai Nome Sessão').item.json[\"extractedInstance\"] }}","rightValue":"={{ $('Busca As Sessões1').item.json[\"name\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"dfdc2de3-f003-4541-92c0-de31549c9734","name":"Filtro Sessões1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[180,0]},{"parameters":{"url":"={{ $('Info Base').item.json[\"UrlAPI\"] }}/instance/fetchInstances","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"ApiKey\"] }}"}]},"options":{}},"id":"c0bca808-f879-4c98-a93b-606b75b47bfc","name":"Busca As Sessões2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,220],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b1126bd3-46c6-4348-b54d-369d4421c77f","leftValue":"={{ $('Extrai Nome Sessão').item.json[\"extractedInstance\"] }}","rightValue":"={{ $('Busca As Sessões2').item.json[\"name\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"208d6c0c-3239-4a16-b547-92a811f5d77c","name":"Filtro Sessões2","type":"n8n-nodes-base.filter","typeVersion":2,"position":[180,220]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"inboxes","mode":"list","cachedResultName":"inboxes"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $('Info Base').item.json[\"IdCaixa\"] }}"}]},"options":{}},"id":"8bc73ec5-ddc0-4e69-9585-8e6bda2b87f9","name":"Busca Nome da Caixa","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-860,180],"alwaysOutputData":true,"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"UrlAPI\"] }}/instance/restart/{{ $('Filtro Sessões1').item.json[\"name\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"ApiKey\"] }}"}]},"options":{}},"id":"88a90983-c3df-4e50-a5b1-6b02d70313c4","name":"Reiniciar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,0]},{"parameters":{"url":"={{ $('Info Base').item.json[\"UrlAPI\"] }}/instance/connectionState/{{ $('Filtro Sessões1').item.json[\"name\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"ApiKey\"] }}"}]},"options":{}},"id":"6c954a5c-1063-4871-9a4e-7d180e6a834a","name":"Solicita novo QR  Apos reiniciar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,0]},{"parameters":{"method":"DELETE","url":"={{ $('Info Base').item.json[\"UrlAPI\"] }}/instance/logout/{{ $('Filtro Sessões2').item.json[\"name\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"ApiKey\"] }}"}]},"options":{}},"id":"5cb7f67a-b931-4f38-9da3-139e2c095170","name":"Deslogar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,220]},{"parameters":{"url":"={{ $('Info Base').item.json[\"UrlAPI\"] }}/instance/connect/{{ $('Filtro Sessões2').item.json[\"name\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"ApiKey\"] }}"}]},"options":{}},"id":"e0c37e3a-e136-46cf-ae52-223f7c5a10b7","name":"Solicita novo QR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,220]},{"parameters":{"assignments":{"assignments":[{"id":"ca1712e6-c561-4d92-b734-44772a852e94","name":"UrlAPI","value":"https://api.supersdr.com","type":"string"},{"id":"57de8b54-b1d2-42b3-aabd-53f223fce321","name":"ApiKey","value":"90790eb4232880273a362d3628ca864f","type":"string"},{"id":"7375ebec-7830-4b70-baa8-9a541e5803b7","name":"UrlChatwoot","value":"https://chat.supersdr.com","type":"string"},{"id":"b6845baa-0b87-4e8a-8774-646d1908922e","name":"ApiKeyUserSuper","value":"TMubDQ6fD7MfqPsDSXkVfz5H","type":"string"},{"id":"d3f5480b-acb3-4e8e-9fb9-e1d3f51c9a7a","name":"IdCaixa","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"inbox_id\"] }}","type":"string"},{"id":"33a549e0-b15e-4f34-a5e3-dfc5d0e5850d","name":"IdEmpresa","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"account_id\"] }}","type":"string"}]},"options":{}},"id":"bb8c283d-2c70-462a-9299-7093f86d2432","name":"Info Base","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1060,180]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"access_tokens","mode":"list","cachedResultName":"access_tokens"},"returnAll":true,"where":{"values":[{"column":"owner_id","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"sender\"][\"id\"] }}"},{"column":"owner_type","value":"User"}]},"options":{}},"id":"72d6f66d-603f-44bc-87f2-3160ec53c60a","name":"Pega Token Usuario","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[0,440],"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"channel_api","mode":"list","cachedResultName":"channel_api"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $('Busca Nome da Caixa').item.json[\"channel_id\"] }}"}]},"options":{}},"id":"7af59be8-7ecc-487b-aca0-5ac0ffb43b43","name":"Busca Channel API","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-660,180],"alwaysOutputData":true,"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"processed_message_content\"] }}","rightValue":"#reiniciar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b362e54a-7771-4e37-8fb4-bc2c808a1a5a","leftValue":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"processed_message_content\"] }}","rightValue":"#deslogar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e757064d-d045-4b57-98db-2fce220aa50a","leftValue":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"processed_message_content\"] }}","rightValue":"#Criador de Caixa:","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"id":"f9c14ae8-5dde-4fcf-982f-8b14cd03b25b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-320,180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1d483aba-b2f5-4591-8f13-771c35b440da","leftValue":"={{ $json.role }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"75c93091-3466-48cb-8a14-d9d538908720","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[360,440]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"account_users","mode":"list","cachedResultName":"account_users"},"returnAll":true,"where":{"values":[{"column":"user_id","value":"={{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"sender\"][\"id\"] }}"}]},"options":{}},"id":"44c23324-bcd2-4279-87ef-85dbd5c49dda","name":"Permissão do Usuario","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[180,440],"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"UrlChatwoot\"] }}/api/v1/accounts/{{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"account_id\"] }}/conversations/{{ $('Webhook').item.json[\"body\"][\"id\"] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Pega Token Usuario').item.json[\"token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"content\": \"🚨ATENÇÃO🚨\\nSeu usuário não tem permissão para criar novas caixas, contate o administrador\",\n\"message_type\": \"outgoing\",\n\"private\": true\n}","options":{}},"id":"b4992150-9677-493a-a5f7-54d742d01c3b","name":"Avisa que não é adm","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[500,620]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"48d0d2d9-a3c5-4e0c-8f76-6ba3ed8dafcd","leftValue":"={{ $('Puxa todas as Estancias').item.json[\"Chatwoot\"][\"accountId\"] }}","rightValue":"={{ $('Info Base').item.json[\"IdEmpresa\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6c0146a2-b95a-4103-becc-61fd53b54101","leftValue":"={{ $('Puxa todas as Estancias').item.json[\"Chatwoot\"][\"nameInbox\"] }}","rightValue":"={{ $('LimpaDados1').item.json[\"nomeCaixa\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"46a69ac8-3a68-45e2-bcca-11e0ba9f252b","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1000,420],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b9a89fac-5e22-4201-abf3-0046e796ff07","leftValue":"={{ $('Filter').item.json[\"Chatwoot\"][\"accountId\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d5236c1d-0b4c-4acd-84a8-54e3e4c9383e","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1200,420]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"UrlChatwoot\"] }}/api/v1/accounts/{{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"account_id\"] }}/conversations/{{ $('Webhook').item.json[\"body\"][\"id\"] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Pega Token Usuario').item.json[\"token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"content\": \"🚨ATENÇÃO🚨\\nJá existe caixas criadas com o mesmo nome, coloque um nome diferente\\n\\nLembre-se não altere o nome de sua caixa depois de criada.\",\n\"message_type\": \"outgoing\",\n\"private\": true\n}","options":{}},"id":"0a6f1977-7b4e-4de0-a4c0-0c2ff0b115f7","name":"Avisa que ja Existe","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1360,600],"executeOnce":true},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"UrlChatwoot\"] }}/api/v1/accounts/{{ $('Webhook').item.json[\"body\"][\"messages\"][0][\"account_id\"] }}/conversations/{{ $('Webhook').item.json[\"body\"][\"id\"] }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Pega Token Usuario').item.json[\"token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"content\": \"✅Caixa Criada✅\\nSua caixa foi criada com sucesso, acesse e faça a leitura do QR\\n\\nLembre-se não altere o nome de sua caixa depois de criada.\",\n\"message_type\": \"outgoing\",\n\"private\": true\n}","options":{}},"id":"e8f5f4f9-649a-4f86-998f-5ff96a7fba08","name":"Avisa que foi Criada","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1760,400],"executeOnce":true},{"parameters":{"jsCode":"// Recebe a URL do campo webhook_url\nconst url = $input.first().json[\"webhook_url\"];\n\n// Extrai a parte após a última barra\nconst extractedInstance = url.split('/').pop();\n\n// Retorna o resultado\nreturn [{ extractedInstance }];\n"},"id":"bfd6ea79-0f10-4599-8062-4a882c9229b0","name":"Extrai Nome Sessão","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,180],"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('Info Base').item.json[\"UrlAPI\"] }}/instance/fetchInstances","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"ApiKey\"] }}"}]},"options":{}},"id":"248f355c-4d6f-444a-8a56-2412a0d74c23","name":"Puxa todas as Estancias","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,420]},{"parameters":{"method":"POST","url":"={{ $('Info Base').item.json[\"UrlAPI\"] }}/instance/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Info Base').item.json[\"ApiKey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"instanceName\": \"{{ $('Gerador de ID Sessão').item.json[\"idsessao\"] }}_Whatsapp_IdCW_{{ $('Info Base').item.json[\"IdEmpresa\"] }}\",\n    \"token\": \"\",\n    \"qrcode\": true,\n    \"integration\": \"WHATSAPP-BAILEYS\",\n    \"rejectCall\": true,\n    \"msgCall\": \"Infelizmente não aceitamos ligações\",\n    \"groupsIgnore\": false,\n    \"alwaysOnline\": false,\n    \"readMessages\": true,\n    \"readStatus\": true,\n    \"syncFullHistory\": false,\n    \"chatwootAccountId\": \"{{ $('Info Base').item.json[\"IdEmpresa\"] }}\",\n    \"chatwootToken\": \"{{ $('Pega Token Usuario').item.json[\"token\"] }}\",\n    \"chatwootUrl\": \"{{ $('Info Base').item.json[\"UrlChatwoot\"] }}\",\n    \"chatwootSignMsg\": true,\n    \"chatwootReopenConversation\": false,\n    \"chatwootConversationPending\": false,\n    \"chatwootImportContacts\": true,\n    \"chatwootNameInbox\": \"{{ $('LimpaDados1').item.json[\"nomeCaixa\"] }}\",\n    \"chatwootMergeBrazilContacts\": true,\n    \"chatwootImportMessages\": true,\n    \"chatwootDaysLimitImportMessages\": 30,\n    \"chatwootOrganization\": \"Gerador de QR\",\n    \"chatwootLogo\": \"https://astraonline.com.br/wp-content/uploads/2024/08/qr.png\"\n}","options":{}},"id":"8e019324-4ae6-40ab-9a62-42e9116b6cf1","name":"Cria API Whatsapp1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,400]},{"parameters":{"httpMethod":"POST","path":"statusapi","options":{}},"id":"ddf8e002-348c-4b5e-8dd7-84fe8e56d70d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1240,180],"webhookId":"91ebef9c-8324-46ac-b6b8-713049a2d561"}],"connections":{"Wait":{"main":[[{"node":"Solicita novo QR","type":"main","index":0}]]},"LimpaDados1":{"main":[[{"node":"Puxa todas as Estancias","type":"main","index":0}]]},"Gerador de ID Sessão":{"main":[[{"node":"Cria API Whatsapp1","type":"main","index":0}]]},"Busca As Sessões1":{"main":[[{"node":"Filtro Sessões1","type":"main","index":0}]]},"Filtro Sessões1":{"main":[[{"node":"Reiniciar","type":"main","index":0}]]},"Busca As Sessões2":{"main":[[{"node":"Filtro Sessões2","type":"main","index":0}]]},"Filtro Sessões2":{"main":[[{"node":"Deslogar","type":"main","index":0}]]},"Busca Nome da Caixa":{"main":[[{"node":"Busca Channel API","type":"main","index":0}]]},"Reiniciar":{"main":[[{"node":"Solicita novo QR  Apos reiniciar","type":"main","index":0}]]},"Deslogar":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Info Base":{"main":[[{"node":"Busca Nome da Caixa","type":"main","index":0}]]},"Busca Channel API":{"main":[[{"node":"Extrai Nome Sessão","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Busca As Sessões1","type":"main","index":0}],[{"node":"Busca As Sessões2","type":"main","index":0}],[{"node":"Pega Token Usuario","type":"main","index":0}]]},"Pega Token Usuario":{"main":[[{"node":"Permissão do Usuario","type":"main","index":0}]]},"If":{"main":[[{"node":"LimpaDados1","type":"main","index":0}],[{"node":"Avisa que não é adm","type":"main","index":0}]]},"Permissão do Usuario":{"main":[[{"node":"If","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Gerador de ID Sessão","type":"main","index":0}],[{"node":"Avisa que ja Existe","type":"main","index":0}]]},"Extrai Nome Sessão":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Puxa todas as Estancias":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Cria API Whatsapp1":{"main":[[{"node":"Avisa que foi Criada","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Info Base","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"17415697-271f-4066-bf4c-ed6d632508d8","triggerCount":1,"tags":[]}