my-workflow-UauCTStNJJlEcbWK.json
{"createdAt":"2025-02-26T16:25:00.609Z","updatedAt":"2025-02-26T16:25:01.086Z","id":"UauCTStNJJlEcbWK","name":"My workflow","active":true,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"conversations","mode":"list","cachedResultName":"conversations"},"firesOn":"UPDATE","additionalFields":{},"options":{}},"id":"896eb96e-0346-417e-bed3-7fcd4c180bfc","name":"Escuta","type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-620,180],"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contacts","mode":"list","cachedResultName":"contacts"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.payload.contact_id }}"}]},"options":{}},"id":"f236a13e-093f-422f-aa2c-a1390f1de2d3","name":"Pega ID","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-420,180],"credentials":{"postgres":{"id":"oPFyTjSCIl0mlgqB","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d8d8c59-f2ee-4f83-a399-a349d9640dd9","leftValue":"={{ $json.name }}","rightValue":"(GROUP)","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"efa091fe-549d-4688-be21-4d0242ecd306","name":"Verifica se é grupo","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,180]},{"parameters":{"method":"POST","url":"=https://chat.supersdr.com/api/v1/accounts/{{ $('Escuta').item.json.payload.account_id }}/conversations/{{ $('Escuta').item.json.payload.id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"yUdTPNoXZa8KkxgWAKWiCLkM"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\"grupo\"]\n}\n","options":{}},"id":"e79b7994-09d5-4e0b-9849-f2ba2fa2d960","name":"Adiciona Tag","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]}],"connections":{"Escuta":{"main":[[{"node":"Pega ID","type":"main","index":0}]]},"Pega ID":{"main":[[{"node":"Verifica se é grupo","type":"main","index":0}]]},"Verifica se é grupo":{"main":[[{"node":"Adiciona Tag","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2455b32e-de6f-484d-9d00-4a1bba440a3f","triggerCount":1,"tags":[]}